<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appetizeapp.android"
    android:versionCode="31"
    android:versionName="4.0" >

    <uses-sdk android:minSdkVersion="10"
        android:targetSdkVersion="21" />
		
    <application>
        <activity
            android:name="com.appetizeapp.android.StadiumsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.appetizeapp.android.LevelActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name="com.appetizeapp.android.SectionSeatRowActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.CountersActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.SelectMixerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_build_drink_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.FoodFragment"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.EditPaymentActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.GuestPaymentActivityNew"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.AboutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.ItemDetailsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.ConfirmationActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="Done"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name="com.appetizeapp.android.ContactActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.EditPaymentProfileActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.BrowseActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.BuildDrinkActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_build_drink_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.BuildDrinkActivityNew"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_build_drink_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.appetizeapp.android.FoodActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.WebViewActivityNew"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.VenueInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.LoginActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name="com.appetizeapp.android.ChangePasswordActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.WebViewActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.AppetizeInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.PrivacyActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.TermsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.VenueActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.appetizeapp.android.MerchItemDetailsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.VendorTypeChooser"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name="com.appetizeapp.android.ChaseTermsOfServiceActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/appetize_chase_terms_of_service_title"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.appetizeapp.android.SigninActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            android:label="Signin"/>
        <activity android:name="com.appetizeapp.android.SignupActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"
            android:label="Signup"/>
        <activity
            android:name="com.appetizeapp.android.GuestEditPaymentProfileActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.OrdersActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name="com.appetizeapp.android.EditAccountActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/appetize_eat_shop_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat"/>
        <service android:name="com.appetizeapp.android.WebService"
            android:theme="@style/Theme.AppCompat" >
        </service>!
    </application>

</manifest>